# 1. Dependencias
---

In [2]:
import numpy as np
import pandas as pd

# 2. Carga de datos 
---

In [13]:
df_admission = pd.read_csv("./data/HDHI_admission_data.csv")

In [14]:
# Limpiamos y renombramos las columnas originales del df
df_admission.columns = df_admission.columns.str.strip()

mapping = {
    'SNO': 'serial_number',
    'MRD No.': 'mrd_number',
    'D.O.A': 'admission_date',
    'D.O.D': 'discharge_date',
    'AGE': 'age',
    'GENDER': 'gender',
    'RURAL': 'residence_rural',
    'TYPE OF ADMISSION-EMERGENCY/OPD': 'admission_type',
    'month year': 'admission_month_year',
    'DURATION OF STAY': 'length_of_stay_days',
    'duration of intensive unit stay': 'icu_length_of_stay_days',
    'OUTCOME': 'hospital_outcome',
    'SMOKING': 'smoking_status',
    'ALCOHOL': 'alcohol_use',
    'DM': 'diabetes',
    'HTN': 'hypertension',
    'CAD': 'coronary_artery_disease',
    'PRIOR CMP': 'prior_cva',                     # CMP -> cerebrovascular accident (ajusta si tu significado es otro)
    'CKD': 'chronic_kidney_disease',
    'HB': 'hemoglobin_g_dl',
    'TLC': 'total_leukocyte_count',
    'PLATELETS': 'platelet_count',
    'GLUCOSE': 'glucose_mg_dl',
    'UREA': 'urea_mg_dl',
    'CREATININE': 'creatinine_mg_dl',
    'BNP': 'bnp',
    'RAISED CARDIAC ENZYMES': 'raised_cardiac_enzymes',
    'EF': 'ejection_fraction_percent',
    'SEVERE ANAEMIA': 'severe_anemia',
    'ANAEMIA': 'anemia',
    'STABLE ANGINA': 'stable_angina',
    'ACS': 'acute_coronary_syndrome',
    'STEMI': 'stemi',
    'ATYPICAL CHEST PAIN': 'atypical_chest_pain',
    'HEART FAILURE': 'heart_failure',
    'HFREF': 'hf_ref',                             # HFrEF (reduced EF)
    'HFNEF': 'hf_nef',                             # HFpEF/HFNEF (preserv. EF) — cambia si prefieres hf_pef
    'VALVULAR': 'valvular_disease',
    'CHB': 'complete_heart_block',
    'SSS': 'sick_sinus_syndrome',
    'AKI': 'acute_kidney_injury',
    'CVA INFRACT': 'cva_infarct',
    'CVA BLEED': 'cva_bleed',
    'AF': 'atrial_fibrillation',
    'VT': 'ventricular_tachycardia',
    'PSVT': 'psvt',
    'CONGENITAL': 'congenital_heart_disease',
    'UTI': 'urinary_tract_infection',
    'NEURO CARDIOGENIC SYNCOPE': 'neurocardiogenic_syncope',
    'ORTHOSTATIC': 'orthostatic_hypotension',
    'INFECTIVE ENDOCARDITIS': 'infective_endocarditis',
    'DVT': 'deep_vein_thrombosis',
    'CARDIOGENIC SHOCK': 'cardiogenic_shock',
    'SHOCK': 'shock',
    'PULMONARY EMBOLISM': 'pulmonary_embolism',
    'CHEST INFECTION': 'chest_infection'
}

df_admission.rename(columns=mapping, inplace=True)

In [17]:
# Convertimos las fechas de admisión y de alta a tipo datetime
df_admission['admission_date'] = pd.to_datetime(
    df_admission['admission_date'],
    dayfirst=False,     # True si el formato es día/mes/año
    errors='coerce'     # convierte formatos inválidos a NaT en lugar de fallar
)

df_admission["discharge_date"] = pd.to_datetime(
  df_admission['discharge_date'], 
  dayfirst=False,     # True si el formato es día/mes/año
    errors='coerce'     # convierte formatos inválidos a NaT en lugar de fallar
)

df_admission.head(5)

,serial_number,mrd_number,admission_date,discharge_date,age,gender,residence_rural,admission_type,admission_month_year,length_of_stay_days,...,congenital_heart_disease,urinary_tract_infection,neurocardiogenic_syncope,orthostatic_hypotension,infective_endocarditis,deep_vein_thrombosis,cardiogenic_shock,shock,pulmonary_embolism,chest_infection
0,1,234735,2017-04-01,2017-04-03,81,M,R,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
1,2,234696,2017-04-01,2017-04-05,65,M,R,E,Apr-17,5,...,0,0,0,0,0,0,0,0,0,0
2,3,234882,2017-04-01,2017-04-03,53,M,U,E,Apr-17,3,...,0,0,0,0,0,0,0,0,0,0
3,4,234635,2017-04-01,2017-04-08,67,F,U,E,Apr-17,8,...,0,0,0,0,0,0,0,0,0,0
4,5,234486,2017-04-01,2017-04-23,60,F,U,E,Apr-17,23,...,0,0,0,0,0,0,0,0,0,0

In [18]:
print(df_admission.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15757 entries, 0 to 15756
Data columns (total 56 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   serial_number              15757 non-null  int64
 1   mrd_number                 15757 non-null  object
 2   admission_date             10102 non-null  datetime64[ns]
 3   discharge_date             10207 non-null  datetime64[ns]
 4   age                        15757 non-null  int64
 5   gender                     15757 non-null  object
 6   residence_rural            15757 non-null  object
 7   admission_type             15757 non-null  object
 8   admission_month_year       15757 non-null  object
 9   length_of_stay_days        15757 non-null  int64
 10  icu_length_of_stay_days    15757 non-null  int64
 11  hospital_outcome           15757 non-null  object
 12  smoking_status             15757 non-null  int64
 13  alcohol_use                15757 non-null  int64
 14  diabetes                   15757 non-null  int64
 15  hypertension               15757 non-null  int64
 16  coronary_artery_disease    15757 non-null  int64
 17  prior_cva                  15757 non-null  int64
 18  chronic_kidney_disease     15757 non-null  int64
 19  hemoglobin_g_dl            15505 non-null  object
 20  total_leukocyte_count      15471 non-null  object
 21  platelet_count             15472 non-null  object
 22  glucose_mg_dl              14894 non-null  object
 23  urea_mg_dl                 15516 non-null  object
 24  creatinine_mg_dl           15510 non-null  object
 25  bnp                        7316 non-null   object
 26  raised_cardiac_enzymes     15757 non-null  int64
 27  ejection_fraction_percent  14252 non-null  object
 28  severe_anemia              15757 non-null  int64
 29  anemia                     15757 non-null  int64
 30  stable_angina              15757 non-null  int64
 31  acute_coronary_syndrome    15757 non-null  int64
 32  stemi                      15757 non-null  int64
 33  atypical_chest_pain        15757 non-null  int64
 34  heart_failure              15757 non-null  int64
 35  hf_ref                     15757 non-null  int64
 36  hf_nef                     15757 non-null  int64
 37  valvular_disease           15757 non-null  int64
 38  complete_heart_block       15757 non-null  int64
 39  sick_sinus_syndrome        15757 non-null  int64
 40  acute_kidney_injury        15757 non-null  int64
 41  cva_infarct                15757 non-null  int64
 42  cva_bleed                  15757 non-null  int64
 43  atrial_fibrillation        15757 non-null  int64
 44  ventricular_tachycardia    15757 non-null  int64
 45  psvt                       15757 non-null  int64
 46  congenital_heart_disease   15757 non-null  int64
 47  urinary_tract_infection    15757 non-null  int64
 48  neurocardiogenic_syncope   15757 non-null  int64
 49  orthostatic_hypotension    15757 non-null  int64
 50  infective_endocarditis     15757 non-null  int64
 51  deep_vein_thrombosis       15757 non-null  int64
 52  cardiogenic_shock          15757 non-null  int64
 53  shock                      15757 non-null  int64
 54  pulmonary_embolism         15757 non-null  int64
 55  chest_infection            15757 non-null  object
dtypes: datetime64[ns](2), int64(39), object(15)
memory usage: 6.7+ MB
None

In [21]:
df_admission["smoking_status"]

0        0
1        0
2        0
3        0
4        0
        ..
15752    0
15753    0
15754    0
15755    0
15756    0
Name: smoking_status, Length: 15757, dtype: int64